{% extends "base_in.twig" %}

{% block title %}Portfolio | PixSalle{% endblock %}

{% block content %}
    <h1>Portfolio</h1>
    {% for photo in albums %}
        <form action="portfolio/album/{{photo.id}}">
            <input type="submit" value="{{photo.name}}"/>
        </form>
        <div class = "col-sm-4 objetfit">
            {% if photo.img is not null %}
                <img src="{{photo.img}}" alt="{{photo.name}}'s image"/>
            {% else %}
                <img src="{{ full_url_for('home') }}assets/images/empty.jpg" alt="{{photo.name}}'s image"/>
            {% endif %}
        </div>
        <br>
    {% endfor %}
    {% if membership == "active" %}
        <form action="{{ formAction }}" method="POST">
            <p>Album Name: </p>
            <input type="text" id="name" name="name">
            <input type="submit" value="Create" />
        </form>
    {% endif %}
{% endblock %}